@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Regular.ttf");
}

.App {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Poppins", serif;
    font-size: 12px !important;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #DCDCDC;
    border-radius: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 28px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
}
